html {
    background-color: rgb(181, 232, 235);
    font-size: 62.5%;
    font-family: 'Manrope';
}

#root {
    font-size: 16px;
}

.main {
    display: flex;
    justify-content: center;
}

.page {
    width: 144rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200rem;
    z-index: 1;
    
}
.bg {
    background-color: hsl(230, 100%, 99%);
    width: 144rem;
    height: 100%;
    position: absolute;

    .bg-circles {
        position: absolute;
        left: 64.5rem;
        top: 6.5rem;
    }
}

.heading {
    margin-top: 10rem;
    font-size: 1.4rem;
    text-align: center;
    
    h1 {
        margin: 0;
        margin-bottom: 1.3rem;
    }
    
    p{
        margin: 0;
        font-size: 1.5rem;
    }
}