.pricing-container {
    background-color: white;
    margin-top: 9rem;
    height: 40rem;
    width: 54rem;
    border-radius: 1rem;
    font-family: 'Manrope';
}

.offer-container {
    display: flex;
    flex-direction: row;

    .pageviews {
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 0.13rem;
        color: $text;
        margin-top: 4rem;
        padding-right: 3rem;
        width: 50%;
        flex-grow: 50;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .payment {
        font-size: 4rem;
        font-weight: 800;
        margin-top: 3.5rem;
        margin-right: 2rem;
        width: 50%;
        flex-grow: 50;
        align-items: center;
        display: flex;
        justify-content: center;

        p {
            margin: 0;
        }

        span{
            font-size: 1.6rem;
            color: $text;
            position: relative;
            bottom: 0.8rem;
            left: 0.5rem;
        }
    }
}